<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <title>CONTUR Visualiser</title>
</head>

<body class="align-items-center">

    <nav class="navbar navbar-light bg-light ml-auto" style="background-color: #e3f2fd;">
        <a class="navbar-brand ml-auto" href="https://gitlab.com/shaanzie/contur">
            <img src="{{url_for('static', filename='png/gitlab.jpg')}}" width="20" height="20" alt="" class="d-inline-block align-top ml-auto">
        </a>
        <a class="navbar-brand float-left" href="https://www.hep.ucl.ac.uk/~lcorpe/ForIshaan/scan-dir.tar.gz">
            Example Dataset
        </a>
    </nav>
    <div class="page-header">
        <h1 style="text-align: center;">CONTUR Visualisation</h1>
    </div>
    <br>

    <div style="text-align: center;">
        <div style="display: inline-block;">
            <label for="graph-point">Graph Type: </label>
            <select id="graph-point" onclick="graphType()" style="text-align: center;" class="custom-select my-1 mr-sm-2">
                <!-- <label><option value="0" name="graph-point" selected="selected" class="dropdown-item"/>None</label> -->
                <label><option value="2" name="graph-point" selected="selected" class="dropdown-item"/>Heatmap</label><br>
                <label><option value="1" name="graph-point" class="dropdown-item"/>Scatterplot</label><br>
                <label><option value="3" name="graph-point" class="dropdown-item"/>Contour Plot</label><br>
            </select>
        </div>
    </div>

    <br>
    <div id="heatmap" />
    </div>
    <br>
    <div id="contour" style="display: none;" />
    </div>
    <br>
    <div id='scatter' style="display: none;" />
    </div>
    <div id="info" style="margin-left: 100px;">
    </div>
    <br>


    <footer>
        <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-1.12.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    </footer>

</body>



</html>